# custom token for authorizing access to this app
PEZ_AUTH_TOKEN=token
PEZ_ADMIN_AUTH_TOKEN=token
# the MySQL CNF configuration file copied to the container
DB_CONFIG_FILE=deldev_db.cnf
#
#PEZBOT_ACESS_TOKEN=xxxx
WXT_ACCESS_TOKEN=xxxx
